@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <a class="col-md-12" asp-controller="Event" asp-action="Index">Events</a>
    <a class="col-md-12" asp-controller="AdmissionTicket" asp-action="Index">Admission Tickets</a>
    <a class="col-md-12" asp-controller="Meal" asp-action="Index">Meals</a>
</div>