<div class="row">
    <div class="col-md-12">
        <h1>Events</h1>
        <a asp-controller="Event" asp-action="AddEvent">Add Event</a>
        <a asp-controller="Event" asp-action="SelectCurrentEvent">Select Current Events</a>
    </div>
</div>
