<div class="row">
    <div class="col-md-12">
        <h1>Events</h1>
        <div class="row">
            <a class="col-md-12" asp-controller="Event" asp-action="AddEvent">Add Event</a>
            <a class="col-md-12" asp-controller="Event" asp-action="SelectCurrentEvent">Select Current Event</a>
            <a class="col-md-12" asp-controller="Event" asp-action="SearchEvent">Edit Event</a>
        </div>
        <div class="row text-success">
            <div class="col-md-12">@ViewData["SuccessMessage"]</div>
        </div>
    </div>
</div>
