<div class="row">
    <div class="col-md-12">
        <h1>Bidder Groups</h1>
        <div class="row">
            <a class="col-md-12" asp-controller="BidderGroup" asp-action="AddBidderGroup">Add Bidder Group</a>
        </div>
        <div class="row text-success">
            <div class="col-md-12">@ViewData["SuccessMessage"]</div>
        </div>
    </div>
</div>
