@{
    ViewData["Title"] = "Add Meal";
}

<h2>@ViewData["Title"]</h2>
<div class="has-error">@ViewData["ErrorMessage"]</div>
<form asp-controller="Meal" asp-action="AddMeal" method="post" class="form-horizontal" , onsubmit="disableButton();" id="form">
    @Html.Partial("MealFormPartial");
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" id="button" />
    </div>
</form>
