
<div class="row">
    <div class="col-md-12">
        <h1>Meals</h1>
        <div class="row">
            <a class="col-md-12" asp-controller="Meal" asp-action="AddMeal">Add Meal</a>
            <a class="col-md-12" asp-controller="Meal" asp-action="SearchMeal">Edit Meal</a>
        </div>
        <div class="row text-success">
            <div class="col-md-12">@ViewData["SuccessMessage"]</div>
        </div>
    </div>
</div>