<div class="row">
    <div class="col-md-12">
        <h1>Meals</h1>
        <div class="row">
            <a class="col-md-12" asp-controller="Meal" asp-action="AddMeal">Add Meal</a>
        </div>
    </div>
</div>