<div class="row">
    <div class="col-md-12">
        <h1>Events</h1>
        <div class="row">
            <a class="col-md-12" asp-controller="AdmissionTicket" asp-action="AddAdmissionTicket">Add Admission Ticket</a>
        </div>
    </div>
</div>